.list-item {
  width: 350px;
  background-color: #ffffff;
  background-color: #334155;
  margin: 24px;
}
.img {
  width: 100%;
}
.country-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.visited-country-name {
  color: #ffffff;
}
.remove-btn {
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
  height: 30px;
}
